/*main區塊開始*/
.more-btn{
    align-items: center;
    margin-bottom: 6px;
}
.list-group-item {
    padding: 12px;
    font-size: 12px;
}
.more-area{
    span{
    font-size: 16px;
    }
    small{
        font-size: 12px;
    }
}
.msg-list{
    justify-content: space-between;
    align-items:space-between;
}
.card-header{
    padding: 12px 16px;
}
.media img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.media-body{
    h5{
       font-size: 16px;
       margin-bottom: 4px;
   }
   small{
       font-size: 12px;
   }
   p{
       font-size: 14px;
       margin-bottom: 16px;
   }
   button{
       padding: 11px 16px 10px 12px;
       border: 1px solid $border-color;
       margin-bottom: 26px;
   }
   i{
       margin-right: 8px;
   }
}
.msg-time{
    font-size: 12px;
}
.btn-area {
    i{
        margin-right: 23px;
       
    } 
    a{
            color: #000;
        }
    button{
        margin-right: 16px;
    }
    button:last-child{
        margin-right: 0;
    }
    span{
        margin-right: auto;
    }
}
/*main區塊結束*/