
.sidebar{
    width: 296px;
    background-color: $primary-color;
    padding: 40px 0px 32px 0px;

}
.logo{
    margin-bottom: 32px;
    padding-left: 32px;
}
.menu {
    li{
    display: flex;
    border-left: 4px solid transparent;
            .outer{
                display: flex;
                color:$primary-text;
                font-weight: bold;
                text-decoration: none;
                border-left: 4px solid transparent;
            }
            .outer:hover{
                text-decoration: none;
                color:$btn-bg-color;
                border-left: 4px solid $btn-bg-color;
            }
            a{
                color:$primary-text;
                text-decoration: none;
            }
            span{
                margin-left: 35px;
            }

        }

    }

.menu li:last-child{
    margin-bottom: 362px;
    }
.acount-info{
    img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 32px;
    }
}
.info span{
    display: block;
    margin-bottom: 4px;
}
.content{
    width: 984px;
}
.top{
    padding: 32px;
}
.top-nav{
    margin-right: auto;
}
.top-nav span:first-child{
    margin-right: 46px;
}
.top-nav span:nth-child(2){
    margin-right: 7px;
}
.top ul li{
    margin-right: 16px;
}
.top ul li:last-child{
    margin-right: 0;
}
.more-btn{
    align-items: center;
    margin-bottom: 6px;
}
.list-group-item {
    padding: 12px;
    font-size: 12px;
}
.more-area{
    span{
    font-size: 16px;
    }
    small{
        font-size: 12px;
    }
}
.msg-list{
    justify-content: space-between;
    align-items:space-between;
}
.card-header{
    padding: 12px 16px;
}
.media img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.media-body{
    h5{
       font-size: 16px;
       margin-bottom: 4px;
   }
   small{
       font-size: 12px;
   }
   p{
       font-size: 14px;
       margin-bottom: 16px;
   }
   button{
       padding: 11px 16px 10px 12px;
       border: 1px solid $border-color;
       margin-bottom: 26px;
   }
   i{
       margin-right: 8px;
   }
}
.msg-time{
    font-size: 12px;
}
.btn-area {
    i{
        margin-right: 23px;
       
    } 
    a{
            color: #000;
        }
    button{
        margin-right: 16px;
    }
    button:last-child{
        margin-right: 0;
    }
    span{
        margin-right: auto;
    }
}
.tab-content{
    margin-bottom: 16px;
}
.text-edit {
    display: flex;
    li{
        margin-right: 30px;
    }

}
.text-input{
    position: relative;
    padding: 16px 24px 24px 24px;
}
.btn-area-replay{
    position: absolute;
    right: 24px;
    bottom: 24px;
    button{
        padding: 8px 32px;
    }
}
.btn-area-replay button:first-child{
    margin-right: 8px;
}
.card-header{
    border: 1px solid $border-color;
}
.edit a{
    color:$primary-text;
}
.page{
    display: flex;
    justify-content: flex-end;
}
.table thead th{
    border-top: 0px solid #dee2e6;
}
.pagination {
    justify-content: flex-end;
    li{
        width: 32px;
        border:1px solid $btn-bg-color;
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 6px 10px;
            width: 100%;
            color:$btn-bg-color;
        }
        a:hover{
            text-decoration: none;
            color:#fff;
        }
    }
    li:hover{
        background-color: $btn-bg-color;
    }

    li:nth-child(2) a{
        background-color: $btn-bg-color;
        color:#fff;

    }
    li:nth-child(3) a,
    li:nth-child(4) a,
    li:nth-child(5) a{
        color:$primary-text;
    }
    li:nth-child(3) a:hover,
    li:nth-child(4) a:hover,
    li:nth-child(5) a:hover{
        color:#fff;
    }
}
.modal-header{
    border-bottom: none;
}
.modal-body{
    display: block;
    h2{
        font-size: 24px;
    }
    .modal-title{
        font-size: 20px;
    }
    .modal-title:nth-child(4){
        margin-bottom: 19px;
    }
    label{
        display: block;
    }
    hr{
        margin-bottom: 24.5px;
    }
}
.mail{
    margin-bottom: 24.5px;
}
.name{
    margin-bottom: 16px;
}
.name input,
.mail input{
    width: 100%;
    padding: 16px;
    background-color: $primary-color;
    border: none;
}
.verified-area{
    margin-bottom: 18px;
    small{
        font-size: 14px;
    }
}
.verified{
    text-align: center;
    font-size: 16px;
}
