/*siderbar區塊開始*/
.sidebar{
    width: 296px;
    background-color: $primary-color;
    padding: 40px 0px 32px 0px;

}
.logo{
    margin-bottom: 32px;
    padding-left: 32px;
}
.menu {
    margin-bottom: 362px;
    li{
    display: flex;
    border-left: 4px solid transparent;
            .outer{
                display: flex;
                color:$primary-text;
                font-weight: bold;
                text-decoration: none;
                border-left: 4px solid transparent;
            }
            .outer:hover{
                text-decoration: none;
                color:$btn-bg-color;
                border-left: 4px solid $btn-bg-color;
            }
            span.icon{
                margin-left: 35px;
            }

        }

    }

.acount-info{
    img.acount-photo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 32px;
    }
}
.info{
    span{
        display: block;
        margin-bottom: 4px;
    }
    span.email{
        font-size: 14px;
        margin-bottom: 0;
    }
} 
/*siderbar區塊結束*/

