/*table編輯頁面開始*/
.table{
    margin-bottom: 63px;
}
.table thead th{
    border-bottom: none;
    border-top: 0px solid #dee2e6;
}
.table th,.table td{
    padding-left: 0;
}
.table td:last-child{
    padding-right: 0;
}
.table thead th:first-child{
   display: flex;
   align-items: center;
   padding-left: 0;
   i.edit-icon{
       color:$btn-bg-color;
   }
}
td.edit a{
    color:$primary-text;
}
.pagination {
    justify-content: flex-end;
    li{
        width: 32px;
        border:1px solid $btn-bg-color;
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 6px 10px;
            width: 100%;
            color:$btn-bg-color;
        }
        a:hover{
            text-decoration: none;
            color:#fff;
        }
    }
    li:hover{
        background-color: $btn-bg-color;
    }

    li:nth-child(2) a{
        background-color: $btn-bg-color;
        color:#fff;

    }
    li:nth-child(3) a,
    li:nth-child(4) a,
    li:nth-child(5) a{
        color:$primary-text;
    }
    li:nth-child(3) a:hover,
    li:nth-child(4) a:hover,
    li:nth-child(5) a:hover{
        color:#fff;
    }
}
/*add modal start*/
.modal-header{
    border-bottom: none;
}
.modal-body{
    display: block;
    h2{
        font-size: 24px;
    }
    .modal-title{
        font-size: 20px;
    }
    .modal-title:nth-child(4){
        margin-bottom: 19px;
    }
    label{
        display: block;
    }
    hr{
        margin-bottom: 24.5px;
    }
}
.mail{
    margin-bottom: 24.5px;
}
.name{
    margin-bottom: 16px;
}
.name input,
.mail input{
    width: 100%;
    padding: 16px;
}
.new-email,
.new-name{
    background-color: #fff;
    
}
.verified-add::placeholder{
    color: $btn-bg-color;
}
/*add modal end*/
/*edit modal start*/
.edit-table,
.add-table{
    padding: 8px 32px;
}
.edit-email,
.edit-name{
    background-color: $primary-color;
    border: 0;
    
}
.verified-area{
    margin-bottom: 18px;
    i{
        margin-right: 10px;
    }
    i.warning-color,p.warning-color{
        color: $warning-color;
    }
    small{
        font-size: 14px;
    }
    
    
}
.square{
    width: 24px;
    height: 24px;
    border: 1px solid $primary-text;
    margin-right: 8px;
}
.verified-edit::placeholder{
    color:$border-color;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #fff;
    opacity: 1;
}
.deactivate{
    margin-bottom: 19px;
}
.btn:focus, .btn.focus {
    box-shadow: none;
}
.btn-outline-pink{
    color:$warning-color;
    border: 1px solid $warning-color;
    background-color: #fff;
    box-shadow: none;
}
.btn-outline-pink:hover{
    background-color: $warning-color;
    color: #ffffff;
    box-shadow: none;
    
}
.btn-outline-pink:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    // color: #fff;
    background-color: $warning-color;
    border: none;
    border-color: $warning-color;
    box-shadow: none;
}
/*共用input樣式*/
.verified{
    text-align: center;
    font-size: 16px;
}
.modal-footer{
    border-top: 0;
/*共用button樣式*/
    .btn.focus, .btn:focus {
        outline: 0;
        box-shadow: none;
    }
    
    .btn-outline-primary{
        background-color:#fff;
        color:$btn-bg-color;
        border-color: $border-color;
        box-shadow: none;
    }
    .btn-outline-primary:hover{
        background-color: $btn-bg-color;
        color: #ffffff;
    }
    .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
        // color: #fff;
        background-color: $btn-bg-color;
        border: none;
        border-color: $border-color;
        box-shadow: none;
    }
    .btn-success{
        background-color: $btn-bg-color;
        color: #ffffff;
    }
    .btn-success:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
        color: #fff;
        background-color: $btn-bg-color;
        border: none;
        border-color: $border-color;
        box-shadow: none;
    }
}

/*edit modal end*/
.view-photo{
    img.user{
        width: 141px;
        border-radius:0;
    }
}
.view-title {
    .close{
        padding: 0;
        border: 0;
    }
    span{
        margin-bottom: 8px;
    }
.permission{
    h4.permission{
        font-size: 16px;
        font-weight:200;
    }
    h3.name{
        font-size: 24px;
        margin-bottom: 8px;
    }
    .mail-address{
        font-size: 14px;
        margin-bottom: 20px;
    }
}
}
.view-footer p{
    background-color: $primary-color;
}
.more-btn{
    i{
        margin-right: 0;
    }
}
