/*table編輯頁面開始*/
.edit a{
    color:$primary-text;
}
// .page{
//     display: flex;
//     justify-content: flex-end;
// }
.table{
    margin-bottom: 63px;
}
.table thead th{
    border-bottom: none;
    border-top: 0px solid #dee2e6;
}
.table thead th:first-child{
   display: flex;
   align-items: center;
   i{
       color:$btn-bg-color;
   }
}
.pagination {
    justify-content: flex-end;
    li{
        width: 32px;
        border:1px solid $btn-bg-color;
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 6px 10px;
            width: 100%;
            color:$btn-bg-color;
        }
        a:hover{
            text-decoration: none;
            color:#fff;
        }
    }
    li:hover{
        background-color: $btn-bg-color;
    }

    li:nth-child(2) a{
        background-color: $btn-bg-color;
        color:#fff;

    }
    li:nth-child(3) a,
    li:nth-child(4) a,
    li:nth-child(5) a{
        color:$primary-text;
    }
    li:nth-child(3) a:hover,
    li:nth-child(4) a:hover,
    li:nth-child(5) a:hover{
        color:#fff;
    }
}
.modal-header{
    border-bottom: none;
}
.modal-body{
    display: block;
    h2{
        font-size: 24px;
    }
    .modal-title{
        font-size: 20px;
    }
    .modal-title:nth-child(4){
        margin-bottom: 19px;
    }
    label{
        display: block;
    }
    hr{
        margin-bottom: 24.5px;
    }
}
.mail{
    margin-bottom: 24.5px;
}
.name{
    margin-bottom: 16px;
}
.name input,
.mail input{
    width: 100%;
    padding: 16px;
    background-color: $primary-color;
    border: none;
}
.verified-area{
    margin-bottom: 18px;
    i{
        margin-right: 10px;
    }
    i.warning-color{
        color: $warning-color;
    }
    small{
        font-size: 14px;
    }
    
}
.verified{
    text-align: center;
    font-size: 16px;
}
.verified-add::placeholder{
    color: $btn-bg-color;
}
.edit-table,
.add-table{
    padding: 8px 32px;
}
.modal-footer{
    button{
        border: 1px solid $border-color;
    }
    button:last-child{
        background-color: $btn-bg-color;
    }
}
.btn-outline-primary{
    background-color:#fff;
    color:$btn-bg-color;
}
.btn-outline-primary:hover{
    background-color: $btn-bg-color;
}
.view-photo{
    img.user{
        width: 141px;
        border-radius:0;
    }
}
.view-title .close{
    padding: 0;
    border: 0;
}
.more-btn{
    i{
        margin-right: 0;
    }
}
/*table編輯頁面結束*/