/*content內部top區塊開始*/
.content{
    width: 984px;
}
.top{
    // padding: 32px 12px;
    padding: 32px 0px;
}
.top-nav{
    margin-right: auto;
    h2.top-nav-title{
        font-size: 24px;
        margin-bottom: 0;
        margin-right: 46px;
    }
    span.add{
        margin-right: 8px;
    }
    a{
        color: $btn-bg-color;
    }
    span.add:hover{
        border-bottom: 0;
    }
    span:nth-child(2){
        margin-right: 7px;
    }
}
.top ul li{
    margin-right: 16px;
}
.top ul li:last-child{
    margin-right: 0;
}
/*content內部top區塊結束*/